<div class="container">
  <div class="d-flex justify-content-between">
    <h5>
      Departure route:
      <span class="badge bg-secondary text-bg-body">6/7</span> -->
      <span class="badge bg-secondary text-bg-body">8</span> -->
      <span class="badge bg-secondary text-bg-body">4</span> -->
      <span class="badge bg-secondary text-bg-body">9</span>
    </h5>
    <h5>
      Landing route:
      <span class="badge bg-secondary text-bg-body">1</span> -->
      <span class="badge bg-secondary text-bg-body">2</span> -->
      <span class="badge bg-secondary text-bg-body">3</span> -->
      <span class="badge bg-secondary text-bg-body">4</span> -->
      <span class="badge bg-secondary text-bg-body">5</span> -->
      <span class="badge bg-secondary text-bg-body">6/7</span>
    </h5>
  </div>
  <div class="d-flex flex-column align-items-center" *ngIf="(stations$ | async)?.length; else nothingToDisplay">
    <div class="d-flex flex-row">
      <station-list [stations]="(endStationsDeparture$ | async) ?? []"></station-list>
      <station-list [stations]="(endStationsLanding$ | async)?.reverse()"></station-list>
    </div>
    <station-list [stations]="(commonStations$ | async)?.slice(0, -2)"></station-list>
    <station-list [stations]="(middleStations$ | async) ?? []"></station-list>
    <station-list [stations]="(commonStations$ | async)?.slice(1)"></station-list>
  </div>
</div>
<ng-template #nothingToDisplay>
  <h4 class="d-flex justify-content-center align-items-center">No stations to display.</h4>
</ng-template>
